.product-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  width: 100%;
  min-height: 432px;
  margin: 0 auto;

  &__img-inner {
    max-width: 270px;
    width: 100%;
    height: 180px;

    @media (max-width:520px) {
      height: 140px;
    }

    @media (max-width:360px) {
      height: 90px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    height: 100%;

    @media (max-width:360px) {
      padding: 15px 0;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #DED7D0;
  }

  &__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #F2EBE5;
    padding: 5px 13px;
    background-color: #42313A;
    margin-right: 15px;
    white-space: nowrap;

    @media (max-width:520px) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  .icon__flower-colors {
    fill: #42313A;
  }

  &__colors {
    display: flex;
    align-items: flex-end;
    margin-right: auto;
  }

  &__favorite,
  &__colors-btn {
    background-color: transparent;
    border: 1px solid #DED7D0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  &__favorite {
    &.active {
      .icon {
        fill: #97383A;
        stroke: #97383A;
      }
    }
  }

  &__colors-btn {
    margin-right: 10px;
  }

  &__colors-amount {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #42313A;

    @media (max-width:520px) {
      display: none;
    }

    &--mob {
      display: none;

      @media (max-width:520px) {
        display: block;
        width: 100%;
        height: 42px;
        margin-bottom: 10px;
        border: 1px solid #F2EBE5;
        text-align: center;
        line-height: 42px;
      }
    }
  }

  &__text {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width:520px) {
      flex-direction: column;
      padding: 10px 0;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #42313A;
    margin-bottom: 15px;
    min-height: 40px;

    @media (max-width:520px) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__article,
  &__available {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    @media (max-width:520px) {
      font-size: 11px;
      line-height: 20px;
    }
  }

  &__article {
    color: #42313A;
  }

  &__available {
    color: #656A25;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #DED7D0;

  }

  &__package {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #42313A;
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  &__amount {
    display: flex;
    align-items: center;
    max-width: 115px;
    border: 1px solid #F2EBE5;

    @media (max-width:520px) {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__btn {
    padding: 15px;
    color: #97383A;
    line-height: 10px;
  }

  &__amount-input {
    max-width: 40px;
    border: none;
    text-align: center;

    @media (max-width: 612px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__card-btn {
    display: block;
    max-width: 115px;
    width: 100%;

    @media (max-width:520px) {
      max-width: 100%;
    }
  }

  &__more-btn {
    width: 100%;
  }
}