.show-card {
  max-width: 270px;

  &__inner {
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__btn {
    width: 100%;
  }
}