.breadcrambs {
  border: 1px solid #F2EBE5;

  &__list {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 42px;

      .breadcrambs__link::after {
        content: '→';
        position: absolute;
        right: -26px;
        top: 0px;
      }
    }

    &:last-child {
      .breadcrambs__link {
        color: #973B3A;
      }
    }
  }

  &__link {
    color: #42313A;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.02em;
    position: relative;
  }
}