.order {
  background-color: #FCFAF8;
  padding: 70px;

  @media (max-width:520px) {
    padding: 25px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    @media (max-width:884px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 100px;
    margin-right: 30px;

    @media (max-width:1440px) {
      padding: 50px;
    }

    @media (max-width:884px) {
      margin-bottom: 30px;
    }

    @media (max-width:520px) {
      padding: 20px;
    }
  }

  &__title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #42313A;
    margin-bottom: 20px;
  }

  &__product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width:1170px) {
      flex-direction: column;
    }
  }

  &__product-img-inner {
    max-width: 270px;
    width: 100%;
    height: 180px;
    margin-right: 30px;

    @media (max-width:1170px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__product-name {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #42313A;
    margin-bottom: 20px;
  }

  &__product-article {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #42313A;
    margin-bottom: 25px;
  }

  &__product-action {
    display: flex;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid #F2EBE5;
    width: 100%;
  }

  &__product-colors {
    display: flex;
    align-items: center;

    .icon__flower-colors {
      fill: #42313A;
    }
  }

  &__product-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid#F2EBE5;

    .icon {
      width: 20px;
      height: 20px;
    }

    &--favorite {
      margin-left: auto;

      &:hover {
        .icon {
          fill: #973B3A;
          stroke: #973B3A;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      .icon {
        fill: #973B3A;
      }
    }
  }

  &__product-color-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #42313A;
  }

  &__product-accent {
    color: #973B3A;
  }

  &__product-color-mob {
    @media (max-width:520px) {
      display: none;
    }
  }

  &__min {
    display: flex;
    padding-top: 40px;
    border-top: 1px solid #F2EBE5;

    .table {
      max-width: 500px;
      width: 100%;
      margin-left: auto;

      @media (max-width:1200px) {
        margin-left: 0;
        max-width: 100%;
      }

      .table__row {
        border: none;
        justify-content: space-around;
      }
    }

    @media (max-width:1720px) {
      align-items: center;
    }

    @media (max-width:1200px) {
      flex-direction: column;
    }
  }

  &__min-product {
    display: flex;
    margin-right: 30px;

    @media (max-width:1720px) {
      align-items: center;
      background-color: #FCFAF8;

      .order__product-name {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 10px;
      }
    }

    @media (max-width:1200px) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }

    @media (max-width:520px) {
      flex-direction: column;
      background-color: transparent;
    }
  }

  &__min-img-inner {
    max-width: 170px;
    height: 115px;
    margin-right: 30px;
    min-width: 110px;

    @media (max-width:520px) {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
      height: auto;
    }
  }

  &__min-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__min-info {
    padding: 20px;
    background-color: #FCFAF8;
    max-width: 440px;
    width: 100%;

    @media (max-width:1720px) {
      padding: 10px;
    }

    @media (max-width:1200px) {
      max-width: 100%;
    }
  }

  &__total {
    min-width: 370px;
    background-color: #fff;
    position: sticky;
    top: 10px;
    padding: 50px;

    @media (max-width:1440px) {
      padding: 40px;
      max-width: 270px;
      width: 100%;
      min-width: auto;
    }

    @media (max-width:884px) {
      max-width: 100%;
    }
  }

  &__total-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #42313A;
  }

  &__total-info {
    border-top: 1px solid #F2EBE5;
    border-bottom: 1px solid #F2EBE5;
    padding: 30px 0;
  }

  &__total-list {
    padding-bottom: 30px;
    border-bottom: 1px solid #F2EBE5;
    margin-bottom: 30px;
  }

  &__total-item {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #42313A;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__total-bonus {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #F2EBE5;
  }

  &__total-bonus-have {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__total-img-inner {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  &__total-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__total-bonus-text {
    display: flex;
    flex-direction: column;
  }

  &__total-bonus-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #35242D;
  }

  &__total-bonus-amount {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #35242D;
  }

  &__total-bonus-all {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #42313A;
    width: 100%;
    background-color: #fff;
    padding: 13px 0;
    border: 1px solid #42313A;
    margin-bottom: 20px;
  }

  &__total-bonus-input {
    padding: 10px 15px;
    background-color: #FCFAF8;
    border: 1px solid #F2EBE5;
    font-size: 13px;
    line-height: 20px;
    color: #35242D;
  }

  &__total-cost {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #42313A;
  }

  &__total-done {
    max-width: 100%;
    width: 100%;
  }
}