.package {
  .about-us__img-inner {
    height: 420px;

    @media (max-width:950px) {
      height: 340px;
    }
  }

  .about-us__title {
    margin-bottom: 110px;

    @media (max-width:950px) {
      margin-bottom: 20px;

    }

    .about-us__text {
      font-family: 'Roboto';
      font-size: 15px;
      text-transform: none;
      padding-top: 15px;
    }
  }

  .about-us__right {
    padding: 0;

    .about-us__text {
      font-size: 13px;
      line-height: 18px;
    }
  }
}