.range {
  padding: 70px 0;

  @media (max-width:760px) {
    padding: 25px;
  }

  &__inner {
    border: 1px solid #F2EBE5;
    padding: 70px 0;

    @media (max-width:760px) {
      padding: 25px 0;
    }
  }

  &__subtitle {
    margin-bottom: 15px;

    @media (max-width:480px) {
      max-width: 220px;
      margin: 0 auto 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__decor {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__list {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (max-width:480px) {
      flex-direction: column;
      align-items: center;
      max-width: 220px;
    }
  }

  &__item {
    position: relative;
    padding: 10px 5px 10px 20px;

    @media (max-width:480px) {
      padding: 10px 0;
      text-align: center;
    }

    &:not(:first-child)::after {
      content: '/';
      position: absolute;
      left: 3px;

      @media (max-width:480px) {
        display: none;
      }
    }
  }

  &__link {
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #42313A;

    @media (max-width:480px) {
      white-space: normal;
    }
  }
}