.special {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width:480px) {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  &__slider-inner {
    position: relative;
  }

  &__control {
    position: absolute;
    right: 90px;
    top: -60px;

    @media (max-width:1100px) {
      right: calc(50% - 75px);
      top: auto;
      bottom: -50px;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: -75px;
    right: 15px;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: #973B3A;
    border: none;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width:1100px) {
      top: auto;
      bottom: -50px;
    }

    &:hover {
      background-color: #656A25;
    }
  }

  .slick-prev {
    background-image: url('../images/icons/arrow-left.svg');
    right: 50px;

    @media (max-width:1100px) {
      right: calc(50% - 100px);
    }
  }

  .slick-next {
    background-image: url('../images/icons/arrow-right.svg');

    @media (max-width:1100px) {
      right: calc(50% - 135px);
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    top: -60px;
    right: 125px;

    @media (max-width:1100px) {
      right: calc(50% - 40px);
      top: auto;
      bottom: -50px;
    }

    li {
      &:not(:last-child) {
        margin-right: 5px;
      }

      button {
        font-size: 0;
        width: 10px;
        height: 2px;
        border: none;
        background: none;
        background-color: #CEC2B7;
      }

      &.slick-active {
        button {
          background-color: #973B3A;
        }
      }
    }
  }

  .show-card {
    margin: 0 auto;
    display: block !important;
  }

  .slider__current-slide {
    color: #973B3A;
    margin-right: 120px;
  }

  .slider__amount-slide {
    color: #42313A;

    @media (max-width:480px) {
      margin-right: 10px;
    }
  }

  .slick-slide {
    margin: 0 10px;
  }
}