.special {
  padding-top: 70px;
  padding-bottom: 70px;

  &__slider-inner {
    display: flex;
    padding: 0 10px;
  }

  &__slider {
    position: relative;
  }

  &__slider-items {
    overflow: hidden;
  }

  .slider__control {
    top: -85px;
    right: 10px;
    bottom: auto;

    @media (max-width:1100px) {
      bottom: -60px;
      top: auto;
      right: 50%;
      transform: translate(50%);
    }
  }

  .product-card {
    margin-right: 30px;
    @media (max-width:612px) {
      margin-right: 10px;
      min-width: 150px;
    }
  }

  .slider__amount-slide {
    color: #42313A;

    @media (max-width:480px) {
      margin-right: 10px;
    }
  }
}