body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  padding: 0 55px;
  margin: 0 auto;

  @media (max-width:1440px) {
    max-width: 1170px;
    padding: 0 15px;
  }
}