.icon {
  pointer-events: none;
  &__facebook {
    width: 6px;
    height: 12px;
    fill: #F2EBE5;
  }

  &__close {
    width: 14px;
    height: 14px;
    fill: #35242D;
  }

  &__instagram {
    width: 12px;
    height: 12px;
    fill: #F2EBE5;
  }

  &__youtube {
    width: 10px;
    height: 10px;
    fill: #F2EBE5;
  }

  &__telegram {
    width: 14px;
    height: 12px;
    fill: #F2EBE5;
  }

  &__tiktok {
    width: 12px;
    height: 14px;
    fill: #F2EBE5;
  }

  &__search {
    width: 18px;
    height: 18px;
    fill: #42313A;
  }

  &__heart {
    width: 19px;
    height: 18px;
    stroke: #42313A;
    stroke-width: 2px;
    fill: none;
  }

  &__bag {
    width: 16px;
    height: 18px;
    fill: #42313A;
  }

  &__user {
    width: 18px;
    height: 18px;
    fill: #42313A;
  }

  &__card-decor {
    width: 20px;
    height: 25px;
    fill: #656A25;
  }

  &__submit {
    width: 21px;
    height: 20px;
    fill: #5F5258;
    ;
  }

  &__call {
    width: 21px;
    height: 20px;
    fill: #5F5258;
    ;
  }

  &__social {
    width: 21px;
    height: 20px;
    fill: #5F5258;
    ;
  }

  &__keybord {
    width: 15px;
    height: 20px;
    fill: #5F5258;
  }

  &__arrow-left {
    width: 12px;
    height: 12px;
    fill: #F2EBE5;
  }

  &__arrow-right {
    width: 12px;
    height: 12px;
    fill: #F2EBE5;
  }

  &__arrow-down {
    width: 12px;
    height: 12px;
    fill: #42313A;
  }

  &__image {
    width: 20px;
    height: 20px;
    fill: #F2EBE5;
  }

  &__delivery {
    width: 20px;
    height: 20px;
    fill: #F2EBE5;
  }

  &__quality {
    width: 20px;
    height: 17px;
    fill: #F2EBE5;
  }

  &__support {
    width: 20px;
    height: 18px;
    fill: #F2EBE5;
  }

  &__flower-colors {
    width: 20px;
    height: 20px;
    fill: #F2EBE5;
  }

  &__flower {
    width: 35px;
    height: 40px;
  }

  &__select-arrow {
    width: 10px;
    height: 6px;
    fill: #42313A;
  }

  &__new-category,
  &__flower-category,
  &__box-category,
  &__bear-category,
  &__happy-category,
  &__haire,
  &__earing,
  &__fly,
  &__something {
    width: 30px;
    height: 30px;
    fill: #CEC2B7;
  }

  &__card,
  &__new-post,
  &__wallet,
  &__car,
  &__bank {
    width: 20px;
    height: 20px;
    fill: #973B3A;
  }

  &__delete {
    width: 14px;
    height: 16px;
    fill: #42313A;
  }
}